body{
  font-size: 18px;
  font-family: Raleway;
  margin-right:150 px;
  margin-left: 150px;
    }


.heading {
    font-size: 39px;
    text-align: center;
    background-color: #039D3D;
    color: white;
    padding: 30px;
    font-family:'Fredoka One', cursive;
}


p{  font-family: 'Nunito', sans-serif;
    font-size: 40px;
    margin: 40px;
    height: 250px;
    border-radius: 25px;
    color: #039D3D;
    text-align: center;
}

.click{
    font-family: 'Nunito', sans-serif;
    font-size: 19px;
    color: #039D3D;
    text-align: center;
}

.children{
  background: url(./matilda.png);
  height: 134px;
  background-repeat: no-repeat;
  background-size: 171px 130px;
  padding-left: 157px;
  padding-right: 50px;
  border: none;
  background-position: center;
  display: inline-block;
  float: left;
  outline:none;

}

.adult{
  background: url(./naughty.jpg);
  height: 134px;
  background-repeat: no-repeat;
  background-size: 171px 136px;
  padding-left: 157px;
  border: none;
  background-position: center;
  display: inline-block;
  float: left;
  outline:none;
}

#parent {
  padding-top: 10px;
}
